@import "tailwindcss";

@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/fonts/ppneuemontreal-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'PPNeueMontreal', sans-serif;
}
