@import "tailwindcss";

@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/fonts/ppneuemontreal-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'PPNeueMontreal', sans-serif;
}

@keyframes fade-pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.6; }
}

.fade-pulse {
  animation: fade-pulse 5s ease-in-out infinite;
}
